[build]
  command = "npm run build"
  publish = "dist"
  base = "frontend"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Headers para CORS y seguridad
[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"

# Variables de entorno
[context.production.environment]
  VITE_API_URL = "https://todo-list-react2-production.up.railway.app"

[context.deploy-preview.environment]
  VITE_API_URL = "http://localhost:4000"

[context.branch-deploy.environment]
  VITE_API_URL = "http://localhost:4000"
